@model IEnumerable<Artist>

@{
    ViewData["Title"] = "Artists";
}

<div class="container pb-3  text-center">
    <h1 class="display-4 pb-3 text-primary">ARTISTS</h1>

    <div class="row">
        @foreach (Artist a in Model)
        {
            <div class="col pt-3 pb-5">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@a.Image" alt="@a.Name" style="width:250px;">
                        </div>
                        <div class="flip-card-back">
                            <div id="content">
                                <h3>
                                    <a asp-controller="Artists" asp-action="Details" asp-route-id="@a.Id">@a.Name</a>
                                </h3>

                                <a href="@a.FacebookLink"><span class="fab fa-facebook-square fa-2x"></span></a>
                                <a href="@a.TwitterLink"><span class="fab fa-twitter-square fa-2x"></span></a>
                                <a href="@a.SoundCloudLink"><span class="fab fa-soundcloud fa-2x " style="color: orangered"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="pt-5 text-center">
        <h4>For booking our artists:</h4>
        <p>
            <a href="mailto:booking@seresproducoes.com?Subject=Request%20to%20book%20an%20artist" target="_top">booking@seresproducoes.com</a>
        </p>
    </div>
</div>