@model Artist

@{
    ViewData["Title"] = "Details";
}
<!-- TO DO: DONE -->
<div class="container pt-5 pb-3">
    <div>
        <img src="@Model.Image" style="width:200px" alt="@Model.Name">
        <div class="card-text">
            <div>
                <a href="@Model.FacebookLink"><span class="fab fa-facebook-square fa-2x"></span></a>
                <a href="@Model.TwitterLink"><span class="fab fa-twitter-square fa-2x"></span></a>
                <a href="@Model.SoundCloudLink"><span class="fab fa-soundcloud fa-2x" style="color: orangered"></span></a>
            </div>
            <h3>
                @Model.Name
            </h3>
            <h4>Bio</h4>
            <p>@Model.Bio</p>
        </div>
    </div>
</div>