@model Artist

@{
    ViewData["Title"] = Model.Name;
}

<div class="container pt-5 pb-3">
    <h1>
        @Model.Name
    </h1>
    <div>
        <div class="row">
            <div class="col-6">
                <img src="@Model.Image" style="width:100%;" alt="@Model.Name">
            </div>
            <div class="col-6">
                <p>Latest tracks:</p>
                <iframe width="400" height="250" scrolling="no" frameborder="0" src="@Model.Tracks"></iframe>
            </div>
        </div>
        <div class="pt-3">
            <div>
                <p>
                    <b>FOLLOW AT:</b>
                    <a href="@Model.FacebookLink"><span class="p-1 fab fa-facebook-square fa-2x"></span></a>
                    <a href="@Model.TwitterLink"><span class="p-1 fab fa-twitter-square fa-2x"></span></a>
                </p>
            </div>

            <h4>Bio</h4>
            <p>@Model.Bio</p>
        </div>
    </div>
</div>