@model IEnumerable<Release>
@{
    ViewData["Title"] = "Releases";
}

<div>
    <img class="h-100vh w-100" src="~/images/music_bg.jpg" />
</div>

<!-- Releases -->
<div class="pb-4" style="background-color: #141414;">
    <h1 class="pt-5 pb-5" style="font-family: Impact; font-size: 40pt; padding-left: 40px;top:0;">OUR RELEASES</h1>
    <div class="container">
        <div class="row">
            @foreach (Release r in Model)
            {
                <div class="col text-center btn-outline-primary">
                    <img class="pt-4" src="@r.Image" width="200" height="200" alt="@r.Title">
                    <h3 class="pt-2" style="font-family: Impact;">@r.Title</h3>
                    <p>
                        @r.Artist
                    </p>
                    <hr class="bg-light" />
                    <span>
                        <a class="text-white btn btn-success" href="@r.Link"><i class="fas fa-shopping-cart"></i> Buy</a>
                    </span>
                    <hr class="bg-light" />
                </div>
            }
        </div>
        <br />
        <div class="text-left pt-5">
            <a href="https://www.beatport.com/label/seres-producoes/37629" class="btn btn-light text-dark">MORE RECENT RELEASES</a>
        </div>
    </div>
</div>
<!-- Artists -->
<div class="pb-3" style="background-color: #141414;">
    <h1 class="pt-5 pb-5" style="font-family: Impact; font-size: 40pt; padding-left: 40px;top:0;">OUR ARTISTS</h1>
    <div class="container pt-3 pb-3">
        <div class="row text-center">
            <!-- Artist -->
            <div class="col artist">
                <img class="img-fluid" src="~/images/artists/SATELITE.jpg" style="width: 250px" alt="DJ Satelite">
                <h3 class="pt-3">
                    DJ SATELITE
                </h3>
            </div>
            <!-- Artist -->
            <div class="col artist">
                <img class="img-fluid" src="~/images/artists/DANYKAS.jpg" style="width: 250px" alt="DANYKAS DJ">
                <h3 class="pt-3">
                    DANYKAS DJ
                </h3>
            </div>
            <!-- Artist -->
            <div class="col artist">
                <img class="img-fluid" src="~/images/artists/KOD.jpg" style="width: 250px" alt="KOD">
                <h3 class="pt-3">
                    King Of Drums
                </h3>
            </div>
        </div>
        <div class="p-5">
            <a class="btn btn-light text-dark" asp-controller="Artists" asp-action="Artists">CHECK OUT MORE ARTISTS</a>
        </div>
    </div>
</div>
<!-- Radio Section -->
<div id="Videos" class="pl-5">
    <h1 class="pt-5 display-4">SERES PRODUÇÕES</h1>
    <h1 class="pb-3" style="font-family: Impact; font-size: 40pt;">OFFICIAL MUSIC VIDEOS</h1>
    <div>
        <p style="font-size: 20px;">
            Listen, watch and enjoy SERES PRODUÇÕES music videos that have premeired globally featuring talented artists
            in the music music industry.
        </p>

        <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
                <iframe style="width:100%; height: 315px;" src="https://www.youtube.com/embed/UE3G-9CDCI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- width="560" height="315"-->
            <div class="col-sm-12 col-md-6">
                <iframe style="width:100%; height: 315px;" src="https://www.youtube.com/embed/D16zXiGEJi8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <a class="btn btn-light mt-5 mb-5 font-weight-bold border-danger" href="https://www.youtube.com/user/seresproducoestv" style="font-size:18px;"><span class="fab fa-youtube" style="color: red;"></span> Youtube Channel</a>
    </div>
</div>
